html {
    background-color: black;
    width: 100%;
    height: 100%;
}

body {
    font-family: Cambria,  sans-serif;
    margin: auto;
    font-size: 24px;
    text-align: justify;
    color: aliceblue;
    background-image: url(https://preview.redd.it/pixel-art-views-of-dark-rainy-streets-v0-5gwu1loc4vea1.png?width=1080&crop=smart&auto=webp&s=eabdd160f1a92b13bca8ad4d7804b2b25757cb7a);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
    text-align: center;
}

a {
    color: aliceblue;
}

h2 {
    font-family: 'Bebas Neue', sans-serif;
}

.nav {
  margin: 0 10%;
    display: flex;
    justify-content: space-around;
}

/* May bring this one back, trying to correct grid for photo and text 
.erics {
    display : inline-grid;
    margin-left: auto;
    margin-right: auto;
    max-width: 75%;
    height: auto;
}
*/
.ericimg {
    
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: rgba(189, 195, 199, .5);
    border-radius: 40px;
}

.ericimg,
p {
    float: center;
    display: flex;
    margin: 20px;
    
}

img[src="https://lh3.googleusercontent.com/drive-viewer/AK7aPaB0sTx-kL446Kuxo9EBT2O7VZN9rJyHAB9RcOTpALVoIdxmwWXg8PYYWS4iJpypz7XSr5FuPp9lLg3PpgqfHfkS_1-M=s2560"] {
    border-radius: 100%;
    vertical-align: middle;
    }

p{
    text-align: center;
    text-indent:  2em;
    word-wrap: break-word;
    text-justify: auto;
    align-items: center;
}

.eric {
    text-align: center;
    align-self: center;
    display: grid;
    flex: 50%;
}

img[src="https://lh3.googleusercontent.com/drive-viewer/AK7aPaBmacfdAfDQFpbkwaQx36TwvBddkX-bAt3YsK4KYFxk4H88BeXC4jV76vyW92rvGYBmu4k_fpqFo3_v-4PIaADXxN3B=s1600"] {
    border-radius: 200%;
    vertical-align: middle;
    max-height: 540px;
    max-width: 480px;
}

.barb {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.barbimg {
    text-align: center;
    align-self: center;
    display: grid;
    flex: 50%;
    background-color: rgba(189, 195, 199, .5);
    border-radius: 40px;
}

.barbimg,
p {
    float: center;
    display: flex;
    margin: 20px;
}

img[src="https://lh3.googleusercontent.com/drive-viewer/AK7aPaAync3qq3rJPA0yVTcVxMJopg8YGuV74XfaUgytxnjAZgHiZGpOTd4w9rU2dts0_HAuApFTERB2eucB8m9Gsu07AKI8ww=s1600"] {
    border-radius: 100%;
    vertical-align: middle;
    max-width: 480px;
}
/*
img[src="https://lh3.googleusercontent.com/drive-viewer/AK7aPaDUwK3OWMC4WnKXBF4L-KPjyABAcOGRrZ7NqUCF9ifNKylnuR1jZITH2IoxpQrV4WpKiVmw6XufzNYltO_ZtltrZcezjw=s1600"]{
    border-radius: 100%;
    vertical-align: middle;
    max-width: 480px;

}

#barbiehidden {
    display: none;
}

#barbiehidden :hover {
    display:inline-block;
}

#barbie :hover{
    display:none;
}
*/
.bros{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}

.brosimg {
    text-align: center;
    align-self: center;
    display: grid;
    flex: 50%;
    background-color: rgba(189, 195, 199, .5);
    border-radius: 40px;
}

.brosimg,
p{
    float: center;
    display: flex;
    margin: 20px; 
}

